*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(48, 58, 59);
}
header{
    display: flex;
    justify-content: center;
    background-color: #0005;
    text-transform: uppercase;
    color: #fff;
    padding: 30px 8%;
}
header h1{
    font-weight: bold;
    font-size: 2.5rem;
    width: 35%;
    font-family: 'Poppins', sans-serif;
}

header nav{
    width: 35%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    
}
header nav h3{
    font-weight: normal;
    font-family: 'Kalam', cursive;
}
header nav .hamburger-menu-open img,
header nav .hamburger-menu-close img{
    width: 25px;
    cursor: pointer;
}
header h1 span{
    color: rgb(72, 217, 227);
}

/* Menu list (modal) */
.menu-wrapper{
    display: flex;
    background: linear-gradient(100deg,#515151 55%, rgb(72, 217, 227) 45%);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 150vh;
    position: absolute;
    padding: 30px 20.6%;
    opacity: 0;
}
.menu-wrapper h1{
    width: 70%;
}
.menu-wrapper nav{
    display: flex;
    padding: 15px;
    margin: 0 -15px;
    height: fit-content;
    background-color: #515151;
}

.menu-wrapper ul{
    position: absolute;
    left: 0;
    width: 100%;
    margin: 4% 0;
}
.menu-wrapper li{
    font-size: 2rem;
    font-weight: 400;
    list-style: none;
    width: 40%;
    font-family: 'Kalam', cursive;
}
.menu-wrapper ul li a{
    padding: 0.5% 0;
    padding-left: 51.2%;
    text-decoration: none;
    position: relative;
    display: block;
    left: 0;
    color: #fff;
}
.menu-wrapper li span{
    font-weight: bold;
}
.menu-list li a.active {
    background-color: rgb(72, 217, 227);
    color: rgb(47, 47, 47);
}
.menu-wrapper .menu-list li a:hover{
    background-color: rgb(72, 217, 227);
    color: rgb(47, 47, 47);
    cursor: pointer;
    transition: all 500ms ease-in-out;
}
.menu-list .list{
    display: none;
    flex-direction: column;
    background-color: rgb(85, 85, 85);
    padding-left: 20.6%;
    width: 40%;
}
.menu-list .nonhidden{
    display: flex;
}
.menu-list .list a{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    height: 50px;
    gap: 30px;
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.menu-list .list a span{
    color: rgb(72, 217, 227);
}
.menu-list .list a:hover{
    color: rgb(212, 212, 212);
    transition: gap 250ms ease-in-out;
    gap: 0 60px;
    color: rgb(72, 217, 227);
}
.opened{
    opacity: 0;
    transition: all 500ms ease-in-out;
}

.closed{
    opacity: 1;
    transition: all 500ms ease-in-out;
}
ul li.active a{
    background-color: rgb(72, 217, 227);
    color: rgb(47, 47, 47);
}

/* Main section */
.intro{
    display: flex;
    align-items: center;

    margin: 0 20.6%;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    width: 30%;
    height: 70vh;
}
.left-column h2{
    font-weight: normal;
    font-size: 3.5rem;
}
.left-column h3{
    font-size: 3.7rem;
    text-transform: uppercase;
}
.left-column p{
    font-size: 1.2rem;
}
.left-column button{
    font-weight: bold;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    background: rgb(72, 217, 227);
    border: none;
    margin: 4% 0;
    padding: 1% 5%;
}
.left-column button img{
    width: 25%;
}