*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(72, 217, 227);
}
header{
    display: flex;
    justify-content: center;
    background-color: #0001;
    text-transform: uppercase;
    color: #fff;
    padding: 30px 8%;
}
header h1{
    font-weight: bold;
    font-size: 2.5rem;
    width: 35%;
    font-family: 'Poppins', sans-serif;
}

header nav{
    width: 35%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    
}
header nav h3{
    font-weight: normal;
    font-family: 'Kalam', cursive;
}
header nav img{
    width: 25px;
    cursor: pointer;
}
header h1 span{
    color: rgb(84, 255, 235);
}

/* Menu list (modal) */
.menu-wrapper{
    display: flex;
    background-color: rgb(81, 81, 81);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    padding: 30px 20.6%;
    opacity: 0;
}
.menu-wrapper h1{
    width: 70%;
}
.menu-wrapper nav{
    display: flex;
    padding: 15px 0;
    align-items: flex-start;
    justify-content: flex-end;
}
.menu-wrapper ul{
    position: absolute;
    left: 0;
    width: 100%;
    margin: 4% 0;
}
.menu-wrapper li{
    font-size: 1.5rem;
    font-weight: 400;
    list-style: none;
    width: 40%;
    padding: 0.5% 0;
    padding-left: 20.6%;
    font-family: 'Kalam', cursive;
}
.menu-wrapper li span{
    font-weight: bold;
}

.menu-wrapper li:hover,
.menu-wrapper li:focus-within{
    background-color: rgb(84, 255, 235);
    color: rgb(47, 47, 47);
    cursor: pointer;
    transition: all 600ms ease-in-out;
    
}

.opened{
    opacity: 0;
}

.closed{
    opacity: 1;
}


/* Main section */
.intro{
    display: flex;
    align-items: center;

    margin: 0 20.6%;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    width: 30%;
    height: 70vh;
}
.left-column h2{
    font-weight: normal;
    font-size: 3.5rem;
}
.left-column h3{
    font-size: 3.7rem;
    text-transform: uppercase;
}
.left-column p{
    font-size: 1.2rem;
}
.left-column button{
    font-weight: bold;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    background-color: #b9e648;
    border: none;
    margin: 4% 0;
    padding: 1% 5%;
}
.left-column button img{
    width: 25%;
}